<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- external styling -->
    <link rel="stylesheet" type="text/css" href="jan30d.css"/>
    <!-- internal style -->
    <style>p {background-color: yellow; color: pink;}</style>
</head>
<body>
    <h1>TES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam error iure ducimus earum et, illum culpa sequi autem eos hic expedita officia delectus, pariatur qui laboriosam quia commodi fugiat quo.</p>
    <button style="background-color: blue;">CLICK ME!</button>
</body>
</html>