<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <h1>Folium on Flask</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero reiciendis quasi, tempore aperiam dignissimos fugiat adipisci qui natus eligendi vitae autem dolorum enim excepturi nulla, architecto, incidunt quam voluptas? Quae!</p>
    <iframe src="/map" width="800" height="250"></iframe>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempora tenetur optio porro sequi velit nesciunt tempore non dicta incidunt sunt accusamus quisquam ullam consequuntur atque, temporibus laboriosam modi iste?</p>
</body>
</html>