<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hasil Klasifikasi Iris</title>
</head>
<body>
    <h1>Klasifikasi Iris</h1>
    <p>Sepal Length : {{data["SL"]}} cm </p>
    <p>Sepal Width : {{data["SW"]}} cm </p>
    <p>Petal Length : {{data["PL"]}} cm </p>
    <p>Petal Width : {{data["PW"]}} cm </p>
    <p> <h3> Classification based on data : {{pred[0]}}  </h3> </p>
</body>
</html>